<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713701083676-eduj6fb6dfmt2os8tgb24kdiltsopdrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713701083676-eduj6fb6dfmt2os8tgb24kdiltsopdrm</string>
	<key>API_KEY</key>
	<string>AIzaSyA3yrXb_0bl2uszNNv9BRjuCdYB1f2s7EM</string>
	<key>GCM_SENDER_ID</key>
	<string>713701083676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todo.ToDoApp</string>
	<key>PROJECT_ID</key>
	<string>todoswift-fb84f</string>
	<key>STORAGE_BUCKET</key>
	<string>todoswift-fb84f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713701083676:ios:305dbb9c9145eca1d56dd9</string>
</dict>
</plist>